[sws-checkbox],
.sws-checkbox {
    position: relative;
    margin: 8px;
    min-height: 20px;
    display: inline-block;
    & input {
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        position: absolute;
        opacity: 0;
        display: inline-block;
        vertical-align: middle;
        &:focus+label {
            text-decoration: underline;
            &:after {
                outline-color: transparentize($color-disabled-text, .65);
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    & label {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        letter-spacing: 1.25pt;
        line-height: 1.4;
        text-transform: uppercase;
        margin-left: 32px;

        &:hover {
            cursor: pointer;
        }
        &:before {
            content: "";
            position: absolute;
            left: 7px;
            top: 2px;
            width: 4px;
            height: 10px;
            border: solid transparent;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg) scale(1);
            -ms-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(0);
            z-index: 1;
            transition: all 0.3s ease;
        }
        &:after {
            content: "";
            background-color: fade-out($color-white, .8);
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            left: 0;
            position: absolute;
            top: 0;
            border: 2px solid $color-disabled-text;
            z-index: 0;
            transition: all 0.3s ease;
            outline: 2px solid;
            outline-color: transparent;
            @if $theme-name=="dark" {
                border-color: fade-out($color-text, .5);
            }
        }
    }
    & input:checked:focus+label {
        &:after {
            outline-color: transparentize($color-primary, .6);
        }
    }
    & input:checked+label {
        &:before {
            content: "";
            position: absolute;
            left: 7px;
            top: 2px;
            width: 4px;
            height: 10px;
            border: solid $color-white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg) scale(1);
            -ms-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
            transition: all 0.3s ease;
        }
        &:after {
            content: "";
            background-color: $color-primary;
            border: 2px solid $color-primary;
            transition: all 0.3s ease;
        }
    }
}

[sws-checkbox-r] {
    @extend .sws-checkbox;
    text-align: right;
    label {
        position: relative;
        padding-right: 36px;
        margin-left: 0;
        line-height: 1.3;
        &:before {
            left: auto !important;
            right: 7px;
            margin-top: -1px;
        }
        &:after {
            left: auto;
            right: 0px;
            margin-top: -1px;
        }
    }
}

@for $i from 1 through length($products) {
    .sws-cardbox--#{nth($products, $i)},
    [sws-cardbox--#{nth($products, $i)}] {
        position: relative;
        display: inline-block;
        margin: 8px;
        label {
            border: 2px solid tint($color-regular, 5%);
            padding: 21px 16px 16px 16px;
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            height: 100%;
            min-width: 200px;
            transition: border-color .35s ease;
            @include btn-drop-shadow-hover;
            @include drop-shadow-hover;
            &:after {
                content: '';
                position: absolute;
                border: solid tint($color-regular, 5%);
                transform: rotate(45deg) scale(.5);
                z-index: 1;
                width: 10px;
                height: 10px;
                left: 10px;
                top: 10px;
                border-width: 3px;
                border-radius: 50%;
                transition: transform 0.27s cubic-bezier(0, 0.3, 0.58, 1);
            }
        }
        input {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            &:focus,
            &:hover {
                +label {
                    &:before {
                        border-color: #{nth($product_colors, $i)};
                    }
                }
            }
            &:focus + label {
                border-color: #{nth($product_colors, $i)};
                &:before {
                    opacity: 1;
                    transform: translate(0, 6px) !important;
                }
            } 
        }
        input, label {
            &:hover {
                cursor: pointer;
            }
        }
        input[type=checkbox]:checked {
            +label {
                border-color: #{nth($product_colors, $i)};
                &:before {
                    border-color: #{nth($product_colors, $i)};
                }
                &:after {
                    width: 6px; 
                    height: 16px;
                    top: 8px;
                    left: 17px;
                    border-radius: 0;
                    border-width: 0 3px 3px 0;
                    border-color: #{nth($product_colors, $i)};
                    transform: rotate(45deg) scale(1);
                    transition: transform 0.2s linear;
                }
            }
        }
    }
}

[sws-checkbox-group], .sws-checkbox-group {
    width: auto;
    height: auto;
    display: inline-block;
    & > [sws-checkbox],
    & > [sws-checkbox-r] {
      display: block;
    }
}